:root {
    --primary: #4f46e5; /* indigo-600 */
    --secondary: #10b981; /* emerald-500 */
    --dark: #1e293b; /* slate-800 */
    --light: #f8fafc; /* slate-50 */
    --accent: #f59e0b;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    overflow-x: hidden;
}
body.modal-open {
    overflow: hidden;
}